<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.dao.FileInfoMapper">
  <resultMap id="BaseResultMap" type="com.share.common.pojo.dao.FileInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="file_key" jdbcType="VARCHAR" property="fileKey" />
    <result column="bucket" jdbcType="VARCHAR" property="bucket" />
    <result column="mine_type" jdbcType="VARCHAR" property="mineType" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_key, bucket, mine_type, `status`, is_delete, create_user, update_user, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from file_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByFileKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from file_info
    where file_key = #{fileKey,jdbcType=VARCHAR}
  </select>

  <select id="fileNum" parameterType="java.lang.String" resultType="integer">
    select
    COUNT(*)
    from file_info
    where file_key = #{fileKey,jdbcType=VARCHAR} AND create_user = #{createUser,jdbcType=VARCHAR} AND status = #{status}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from file_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.share.common.pojo.dao.FileInfo" useGeneratedKeys="true">
    insert into file_info (file_key, bucket, mine_type, 
      `status`, is_delete, create_user, 
      update_user, create_time, update_time
      )
    values (#{fileKey,jdbcType=VARCHAR}, #{bucket,jdbcType=VARCHAR}, #{mineType,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{isDelete,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, 
      #{updateUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.share.common.pojo.dao.FileInfo" useGeneratedKeys="true">
    insert into file_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileKey != null">
        file_key,
      </if>
      <if test="bucket != null">
        bucket,
      </if>
      <if test="mineType != null">
        mine_type,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileKey != null">
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="bucket != null">
        #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="mineType != null">
        #{mineType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.common.pojo.dao.FileInfo">
    update file_info
    <set>
      <if test="fileKey != null">
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="bucket != null">
        bucket = #{bucket,jdbcType=VARCHAR},
      </if>
      <if test="mineType != null">
        mine_type = #{mineType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.common.pojo.dao.FileInfo">
    update file_info
    set file_key = #{fileKey,jdbcType=VARCHAR},
      bucket = #{bucket,jdbcType=VARCHAR},
      mine_type = #{mineType,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=TINYINT},
      is_delete = #{isDelete,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>